{% include 'Header.html' %}
<div class="rdStyle">
    <h2 style="font-weight:500;background-color: #466f68;padding: 30px 20px ;color: white;">
        BOARD OF STUDIES</h2>
    <div class="table-responsive" style="background:white;padding: 0px 20px 20px 20px;">

        <table class="table table-striped tablePadding" style="font-size: 14px;">
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Members</th>
                    <th>Designation</th>
                    <th>Designation on Board</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Dr. Dinesha H A
                    </td>
                    <td>Professor &amp; Head (CSE), NCET</td>
                    <td>Chairman (CSE)</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td> Dr. Anil Kannur
                    </td>
                    <td>Professor &amp; Head (ISE), NCET
                    </td>
                    <td>Chairman (ISE)</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Dr. Sundeep Kumar K
                    </td>
                    <td>Professor &amp; Head (CSE-DS), NCET
                    </td>
                    <td>Chairman (CSE DS)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Dr. Vijayananda
                    </td>
                    <td>Professor &amp; Head (AIML), NCET
                    </td>
                    <td>Chairman (CSE AIML)</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Dr. Syed Naimatullah Hussain
                    </td>
                    <td>Professor, ISE ,NCET
                    </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Dr. Sandhya G
                    </td>
                    <td>Professor, ISE ,NCET
                    </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Dr. Deepajothi
                    </td>
                    <td>Associate Professor, CSE ,NCET
                    </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Mrs. Swathi. S
                    </td>
                    <td>Associate Professor, CSE ,NCET
                    </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Mr. Gopinath A R
                    </td>
                    <td>Associate Professor, CSE ,NCET
                    </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Mr. Sudhakara Reddy M
                    </td>
                    <td>Assistant Professor, CSE ,NCET </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Mr. Subramanya S G
                    </td>
                    <td>Assistant Professor, CSE ,NCET
                    </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Dr. Nalini N
                    </td>
                    <td>Professor, Dept. of CSE, Nominated by VTU
                    </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Dr. Sridhar Domana
                    </td>
                    <td>Researcher &amp; Solution Engineer, Accenture Bengaluru
                    </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Mr. Kishan
                    </td>
                    <td>Alumini, NCET
                    </td>
                    <td>Member</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
{% include 'Footer.html' %}