{% include 'Header.html' %}
<div class="facilityStyel">
   <div class="labStyle">
      <div class="mt-2 p-2">
         <div class="vision-content-text2 ms-0" style="font-size: 14px; font-weight: bold;">
            <div class="vision-heading-text2">
               <h3>LABORATORY</h3>
            </div>
            The institution has always kept its target of providing Student-to-computer ratio of 1:1 during their
            laboratory exercises.
            The Department is well equipped with the latest computers with modern multimedia features and Licensed
            software. Computer Labs have been loaded with Microsoft Windows 10 and Ubuntu Operating System. All the labs
            are connected with 100MBPS high-speed internet service. The lab is used to train the students to improve
            their
            programming knowledge and make experiments to get familiar with the Core Courses. This lab helps placement
            cell
            to conduct online test and Placement training for students during placement drive.
            <div style="margin-top: 20px;">
               <a href="/static/labPdf.pdf" target="_blank" style="text-decoration: none;">More Deatils ...</a>
            </div>
         </div>
         <div class="table-responsive vision-content-text2 ms-0"
            style="font-size: 14px; font-weight: bold;text-align: justify;">
            <div class="vision-heading-text2">
               <h3>LIST OF LABORATORIES</h3>
            </div>
            <table style="font-size: 14px; font-weight: bold;">
               <tbody>
                  <tr>
                     <td>
                        <ul>
                           <li>Computer Programming Laboratory.</li>
                           <li>Sci Laboratory.</li>
                           <li>Design of Dynamic Web Pages Laboratory.</li>
                           <li>Data Structures Laboratory.</li>
                           <li>Analog and Digital Electronics Laboratory.</li>
                           <li>Unix and shell programming Laboratory.</li>
                           <li>R Laboratory.</li>
                           <li>Design and analysis of algorithms Laboratory.</li>
                           <li>Object Oriented and Programming with java Laboratory.</li>
                        </ul>
                     </td>
                     <td>
                        <ul>
                           <li>Operating System Laboratory.</li>
                           <li>Microcontroller Laboratory.</li>
                           <li>Network Programming Laboratory.</li>
                           <li>Database Management System Laboratory.</li>
                           <li>Android Laboratory.</li>
                           <li>Unix system programming Laboratory.</li>
                           <li>Image Processing Laboratory.</li>
                           <li>Internet of Things Laboratory.</li>
                           <li>Big Data Laboratory.</li>
                        </ul>
                     </td>
                  </tr>
               </tbody>
            </table>
            <!-- <img src="/static/labPic.jpeg" alt="" class=" mt-3 labImg"> -->
         </div>


      </div>
      <div class="mt-2">
         <img src="/static/lab1.jpeg" alt="" class=" mt-3 labImg">
         <img src="/static/lab3.jpeg" alt="" class=" mt-3 labImg">
      </div>
   </div>
   <div class="labStyle">
      <div class="mt-2 p-2">
         <div class="vision-content-text2 ms-0" style="font-size: 14px; font-weight: bold;">
            <div class="vision-heading-text2">
               <h3>SMART CLASSROOM</h3>
            </div>
            To make the learning experience more interesting and understandable, we have added new and advanced methods
            of teaching. We have set up smart classrooms to enable the hi-tech manner of learning for our students.

            These tech-enabled smart classrooms are consists of a multi-media projector with the audio output device,
            and the software that connects all of these devices together. All of this enables the faculty members to
            impart high-quality education to the students. These smart classrooms are designed as per the guidelines of
            AICTE.

            At each of our step, we are trying to adapt the “Hybrid Learning System” that essentially helps students to
            establish a better connection with the instructors. The smart classrooms also help in engaging students’
            complete attention towards the lessons by presenting the course material more interestingly via multi-media
            systems.

            Apart from technology, the architecture of our classrooms is also designed very systematically making them
            well ventilated and lit up. The classrooms are also very spacious and have high-quality furniture to
            accommodate the entire class strength with comfort.
            <!-- <div style="margin-top: 20px;">
               <a href="/static/labPdf.pdf" target="_blank" style="text-decoration: none;">More Deatils ...</a>
            </div> -->
         </div>
      </div>
      <div class="mt-2">
         <img src="/static/classroom.jpeg" alt="" class=" mt-3 labImg">
         <img src="/static/classroom1.jpeg" alt="" class=" mt-3 labImg">
      </div>
   </div>
   <div class="labStyle">
      <div class="mt-2 p-2">
         <div class="vision-content-text2 ms-0" style="font-size: 14px; font-weight: bold;">
            <div class="vision-heading-text2">
               <h3>DEPARTMENT LIBRARY</h3>
            </div>
            The Department Library of Computer Science and Engineering, gives a great resources and good ambience to the
            faculty,staff and students to enrich their knowledge. The Department Library has more than 1000 volumes to
            keep faculty abreasts of developments in research. The library resources are constantly being expanded by
            adding some amount of books in each semester. The library is fully air conditioned, spacious enough and
            designed to be a quiet environment for the readers. Library open from 9:00am to 4.00pm.
            <div style="margin-top: 20px;">
               <a href="/static/labPdf.pdf" target="_blank" style="text-decoration: none;">More Deatils ...</a>
            </div>
         </div>
      </div>
      <div class="mt-2">
         <img src="/static/library1.jpeg" alt="" class=" mt-3 labImg">
         <img src="/static/library2.jpeg" alt="" class=" mt-3 labImg">
      </div>
   </div>
   <div class="labStyle">
      <div class="mt-2 p-2">
         <div class="vision-content-text2 ms-0" style="font-size: 14px; font-weight: bold;">
            <div class="vision-heading-text2">
               <h3>DEPARTMENT SEMINAR HALL</h3>
            </div>
            The Department Library of Computer Science and Engineering, gives a great resources and good ambience to the
            faculty,staff and students to enrich their knowledge. The Department Library has more than 1000 volumes to
            keep faculty abreasts of developments in research. The library resources are constantly being expanded by
            adding some amount of books in each semester. The library is fully air conditioned, spacious enough and
            designed to be a quiet environment for the readers. Library open from 9:00am to 4.00pm.
            <!-- <div style="margin-top: 20px;">
               <a href="/static/labPdf.pdf" target="_blank" style="text-decoration: none;">More Deatils ...</a>
            </div> -->
         </div>
      </div>
      <div class="mt-2">
         <img src="/static/seminarhall1.JPG" alt="" class=" mt-3 labImg">
         <img src="/static/seminarhall2.JPG" alt="" class=" mt-3 labImg">
      </div> 
   </div>
</div>
{% include 'Footer.html' %}