<div class="footerStyle">
    <div class="firstfooter">
        <h4>ADDRESS</h4>
        <hr>
        <div>
            <iframe class="iframeStyle"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3881.990699507927!2d77.72620881430787!3d13.35085431005621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16773c548eed%3A0xb9434aad7474e7df!2sNagarjuna%20College%20Of%20Engineering%20%26%20Technology!5e0!3m2!1sen!2sin!4v1655142620404!5m2!1sen!2sin"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <address>
            Nagarjuna College of Engineering and Technology
            Devanhalli,Bangalore,562110
            <br />
            <a class="hodEmail" href="mailto:hodcse@ncetmail.com"><img src="https://img.icons8.com/material-outlined/24/000000/new-post.png"/><span class="ms-2">Email Us</span></a>
        </address>
    </div>
    <div class="secondfooter">
        <h4>ABOUT</h4>
        <hr>
        <a href="/footerDetails/r&d">R&D</a>
        <a href="/static/NewsLetter.pdf" target="_blank">NewsLetter</a>
        <a href="#">Program Assesment</a>
        <a href="#">Department Adv Board</a>
        <a href="#">Board of Examination</a>
        <a href="/footerDetails/bos">Board of Studies</a>
    </div>
    <div class="secondfooter">
        <h4>GET IN TOUCH</h4>
        <hr>
        <a href="/contact/"><img 
                src="/static/contact.png" /><span
                class="ms-3">Contact</span></a>
        <a href="https://www.facebook.com/Nagarjunacollege.Bangalore" target="_blank"><img 
                src="/static/fb.png" /><span class="ms-3">Facebook</span></a>
        <a href="https://www.instagram.com/ncet_official/" target="_blank"><img 
                src="/static/inst.png" /><span
                class="ms-3">Instagram</span></a>
        <a href="#" target="_blank"><img  src="/static/twitter.png" /><span
                class="ms-3">Twitter</span></a>
        <a href="https://www.youtube.com/channel/UC7z2VqJIhSkCh4HC1y9zdaw" target="_blank"><img 
                src="/static/youtube.png" /><span class="ms-3">Youtube</span></a>
        <a href="http://ncet.co.in/" target="_blank"><img 
                src="/static/web.png" /><span class="ms-3">ncet.co.in</span></a>
    </div>
</div>
</body>

</html>