{% include 'Header.html' %}
<div class="PlacementStyle">
    <div class="row g-0">
        <div class="placementLeftCard">
            <div class="placementMenu"><a href="/placements/" style="text-decoration: none;"
                    class="placementLink">&#10095;
                    &nbsp; About Placements</a></div>
            <div class="placementMenu"><a href="/ourRecruiter/" style="text-decoration: none;"
                    class="placementLink">&#10095; &nbsp; Our Recruiters</a></div>
            <div class="placementMenu"><a href="/placementTraining/" style="text-decoration: none;"
                    class="placementLink">&#10095; &nbsp; Placement Training</a></div>
            <div class="placementMenu"><a href="/placementAchievement/" style="text-decoration: none;"
                    class="placementLink">&#10095; &nbsp; Placement Achievements</a></div>
        </div>
        <div class="placementRightCard">
            <div style="background-color: #dee2e6;padding: 15px 20px;">
                <h2>Training Methodology</h2>
                <div class="table-responsive mt-4">
                    <table class='table table-striped' style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th>Objective</th>
                                <th>Application</th>
                                <th>Take Away</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Aptitude Test</td>
                                <td>
                                    <ul>
                                        <li>Logical Reasoning</li>
                                        <li>Quant Math Ability</li>
                                        <li>Puzzels</li>
                                        <li>Attention to Details</li>
                                        <li>Data Sufficiency</li>
                                        <li>Data Analysis</li>
                                    </ul>
                                </td>
                                <td>All concepts required to be learnt by the student to successfully clear a placement
                                    aptitude
                                    test.</td>
                            </tr>
                            <tr>
                                <td>Group Discussion</td>
                                <td>
                                    <ul>
                                        <li>Dynamics of GD</li>
                                        <li>GD Etiquettes</li>
                                        <li>Topics of Discussion</li>
                                        <li>Throught Process</li>
                                        <li>TValue Addition</li>
                                    </ul>
                                </td>
                                <td>A comprehensive guide to group discussions and everything related to maximising your
                                    chances
                                    of clear GD.</td>
                            </tr>
                            <tr>
                                <td>Resume Building</td>
                                <td>
                                    <ul>
                                        <li>Resume writing lapResume writing lap</li>
                                    </ul>
                                </td>
                                <td>An original, unique, self-made resume with every student</td>
                            </tr>
                            <tr>
                                <td>Personal Interviews</td>
                                <td>
                                    <ul>
                                        <li>Interview F.A.Q's</li>
                                        <li>Answering Strategies</li>
                                        <li>Question Prediction</li>
                                        <li>'Selling Yourself'</li>
                                    </ul>
                                </td>
                                <td>Persepective:
                                    99% Actual Interview
                                    1% Simulation Experience</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class='table table-striped' style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th>TECHNICAL SKILLS</th>
                                <th>APTITUDE</th>
                                <th>SOFT SKILLS</th>
                                <th>COMMUNICATION SKILLS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul style="padding-left:13px">
                                        <li>C, C++</li>
                                        <li>Java</li>
                                        <li>Python</li>
                                        <li>Design Thinking</li>
                                        <li>Problem Solving</li>
                                        <li>Robotics</li>
                                        <li>Machine Learning, AI</li>
                                        <li>IOT Basic Concepts</li>
                                        <li>Auto Cad 2D/3D</li>
                                        <li>Database & Hadoop</li>
                                        <li>Data Structures</li>
                                        <li>Algorithms</li>
                                        <li>Embedded systems</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul style="padding-left:13px">
                                        <li>Property of Numbers</li>
                                        <li>Concepts of Multiples</li>
                                        <li>Factorial Concept</li>
                                        <li>Probability & Statistics</li>
                                        <li>Percentage, Proportions</li>
                                        <li>Speed Distance Time</li>
                                        <li>Time & Work</li>
                                        <li>Clocks & Calendars</li>
                                        <li>Basics of Algebra</li>
                                        <li>Basic Trignometry</li>
                                        <li>Coding & Decoding</li>
                                        <li>Family Tree & Directions</li>
                                        <li>Deductive Reasoning</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul style="padding-left:13px">
                                        <li>Grooming & Discipline</li>
                                        <li>Change Management</li>
                                        <li>Goal Setting</li>
                                        <li>Career Planning</li>
                                        <li>Resume Writing</li>
                                        <li>Goal & Career Plan</li>
                                        <li>Time Management</li>
                                        <li>Stress Management</li>
                                        <li>Group Discussions</li>
                                        <li>Leadership skills</li>
                                        <li>Personal Interview</li>
                                        <li>Financial Management</li>
                                        <li>Team Building</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul style="padding-left:13px">
                                        <li>English Grammar</li>
                                        <li>English Vocabulary</li>
                                        <li>Reading for Comprehension</li>
                                        <li>Writing for Communication</li>
                                        <li>Listening for Comprehension</li>
                                        <li>Listening for Information</li>
                                        <li>Tactical Speaking</li>
                                        <li>Business Communication</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'Footer.html' %}