{% include 'Header.html' %}
<div class="rdStyle">
    <h2 style="font-weight:500;background-color: #466f68;padding: 30px 20px ;color: white;">
        PATENTS</h2>
    <div class="table-responsive mt-2 " style="background:white;padding: 0px 20px 20px 20px;">
        <table class="table table-striped" style="font-size: 14px;">
            <tbody>
                <tr>
                    <th>SL.NO.</th>
                    <th>TITLE OF THE PATENT/PATEND PENDING NUMBER/ PATENT
                        APPLICATION NUMBER</th>
                    <th>JURISDICTION /PUBLICATION/INDIAN PATENT
                        JOURNAL/FILLED/PUBLISHED DATE </th>
                    <th>INVENTORS NAME/FACULTY
                        MEMBER/STUDENTS/EMIRITUS/PROFESSORS
                    </th>
                    <th>YEAR OF APPLICATION/GRANT</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>202141022954</td>
                    <td>PUBLISHED DATE 23/05/2021</td>
                    <td>Dr. Dinesha H A</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>2021141023567</td>
                    <td>PUBLISHED DATE 27/05/2021</td>
                    <td>Dr. Dinesha H A</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>202141034018/td&gt;
                    </td>
                    <td>Journal No.33/2021(13/08/2021)</td>
                    <td>Subramanya S G, Priyanka K.</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>202141053443</td>
                    <td>Journal Number- 50/2021 (10/12/2021)</td>
                    <td>Subramanya S G, Priyanka K, Seema J, Sudhakara Reddy M,
                        Vivek Sharma S</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>202121039129</td>
                    <td>Journal No. 37/2021 Dated 10/09/2021</td>
                    <td>Mr. Gopinath A R</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>202121039132</td>
                    <td>Journal No. 37/2021 Dated 10/09/2021</td>
                    <td>Mr. Gopinath A R</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>7. </td>
                    <td>202121005001</td>
                    <td>Journal No. 07/2021 Dated 12/02/2021</td>
                    <td>Mr. Gopinath A R</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>202141039782A</td>
                    <td>Journal No. 39/2021 Dated 24/09/2021</td>
                    <td>Dr.Anitha Patil, Vivek sharma S, Seema J</td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>9. </td>
                    <td>202121039129</td>
                    <td>Journal No. 37/2021 Dated 10/09/2021</td>
                    <td>Mr. Abraham Rajan</td>
                    <td>2021</td>
                </tr>

            </tbody>
        </table>
    </div>
    <h2 style="font-weight:500;background-color: #466f68;padding: 30px 20px ;color: white;">
        FUNDED PROJECTS</h2>
    <div class="table-responsive mt-2" style="background:white;padding: 0px 20px 20px 20px;">
        <table class="table table-striped" style="font-size: 14px;">
            <tbody>
                <tr>
                    <th style="width: 190px;">FACULTY NAME </th>
                    <th>TITLE OF THE PROPOSAL</th>
                    <th class="ccc">FUNDING
                        AGENCY</th>
                    <th>FUND
                        RECIEVED/S
                        ANCTIONED </th>
                    <th class="ccc">ACADEMIC
                        YEAR</th>
                    <th class="ccc"> REMARKS</th>
                </tr>
                <tr>
                    <td>Mr. Subramanya S G</td>
                    <td>DESIGN &amp; DEVELOPMENT OF
                        AUTOMATED EMISSION
                        MONITORING SYSTEM FOR
                        GENERAL VEHICLES</td>
                    <td>KSCST</td>
                    <td>6000 </td>
                    <td>2020-21</td>
                    <td>Completed</td>
                </tr>
                <tr>
                    <td>Mr. Shreekanth M S</td>
                    <td>Earthquake bed using iot for
                        human protection</td>
                    <td>KSCST</td>
                    <td>3500 </td>
                    <td>2018</td>
                    <td>Completed</td>
                </tr>
                <tr>
                    <td>Mr. Shreekanth M S</td>
                    <td>Prevention of accidents caused by
                        potholes and humps using
                        ultrasonic sensors</td>
                    <td>KSCST</td>
                    <td>3000</td>
                    <td>2018</td>
                    <td>Completed</td>
                </tr>
                <tr>
                    <td>Dr. Kumarswamy Y S</td>
                    <td>Software Framework For
                        Hosting, Application Programming
                        Interface / Modules For Artificial
                        Intelligence, Heterogeneous
                        Parallel Computing And Device
                        Drivers For Various Scientific
                        Equipment In Ex- Planetary
                        Vehicle To The End/Remote User</td>
                    <td>ISRO
                        RESPOND</td>
                    <td>1230000</td>
                    <td>2018</td>
                    <td>Completed</td>
                </tr>
                <tr>
                    <td>Dr. Kumarswamy Y S</td>
                    <td>Software Framework For
                        Hosting, Application Programming
                        Interface / Modules For Artificial
                        Intelligence, Heterogeneous
                        Parallel Computing And Device
                        Drivers For Various Scientific
                        Equipment In Ex- Planetary
                        Vehicle To The End/Remote User</td>

                    <td>ISRO
                        RESPOND</td>
                    <td>462000</td>
                    <td>2019</td>
                    <td>Completed</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="accordion-body">
        <div class="vision-heading-text2">
            <h3>BOOK CHAPTERS PUBLISHED IN SPRINGER NATURE</h3>
        </div>
        <div class="vision-content-text2">
            Dr. Nagaraj Naik, and Biju R Mohan (2019), “Stock Price Movements
            Classification using Machine and Deep Learning Techniques-The Case Study
            of Indian Stock Market”,Communications in Computer and Information
            Science (Springer Nature), DOI 10.1007/978-3-030-20257-6_38.
        </div>
        <div class="vision-content-text2">
            Dr. Nagaraj Naik, and Biju R Mohan (2019), “Study of Stock Return
            Predictions using Recurrent Neural Networks with LSTM”, Communications
            in Computer and Information Science (Springer Nature), DOI
            10.1007/978-3-030-20257-6_39.
        </div>
        <div class="vision-content-text2">
            Dr. Nagaraj Naik, and Biju R Mohan (2019), “Log Periodic Power Law
            Fitting on Indian Stock Market”, Communications in Computer and
            Information Science (Springer Nature), DOI 10.1007/978-981-15-6318-8.4.
        </div>
        <div class="vision-content-text2">
            Prof. Subramanya S G, Prof. Priyanka K, Prof. Seema J, “Practical
            Approach to Learn Computer Networks”, ISBN- 978-93-5593-068-2, December
            - 2021.
        </div>
        <div class="vision-content-text2">
            Prof. Subramanya S G, Prof. Priyanka K, “A Pragmatic Guide to Web
            Development”, ISBN - 978-93-5593-810-7, December - 2021.
        </div>
    </div>
</div>
{% include 'Footer.html' %}