{% include 'Header.html' %}
<div class="thankYouStyle">
    <div class="msgDetail">
        <img src="https://img.icons8.com/fluency/144/000000/checkmark.png"
            style="display:block;width: 50px;height: 50px;margin: auto;" />
        <h1 class="text-center">Thanks {{name}} !</h1>
        <p style="font-size: 14px; font-weight: bold;">We've sent your details to your {{email}} so
            it's easy to access. You can find more information on our website and social pages</p>
        <div class="text-center"><a href="/" class="backButton">Close</a></div>
    </div>
</div>
{% include 'Footer.html' %}