{% include 'Header.html' %}
<div class="eventContent">
   <div class=" eventsPosition">
      <div class="eventsMenu" style="background-image: linear-gradient(to right bottom, #28e3c5, #00c0b5, #009d9f, #007b85, #105b68);">
         <a href="/events/" 
            style="text-decoration: none;color: white;">Events</a>
      </div>
      <div class="eventsMenu" style="background-image: linear-gradient(to right bottom, #d0d953, #bac342, #a5ad30, #90981e, #7b8306);">
         <a href="/upcomingevents/" 
            style="text-decoration: none;color: white;">UpComung
            Events</a>
      </div>
      <div class="eventsMenu" style="background-image: linear-gradient(to right bottom, #ec435a, #d03544, #b52730, #9a191d, #800a0a);">
         <a href="/activity/" 
            style="text-decoration: none;color: white;">Activity</a>

      </div>
   </div>
   <div class="text-center">
      <h1>Sorry No,Upcoming Events</h1>
   </div>
</div>
{% include 'Footer.html' %}